.Card-Container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}

.Card{  
    margin-top: 1rem;
    padding-top: 10px;
    height: 350px; width: 265px;
    background-color: #fff;
    border-radius: 10px;
}

.Description{
    margin-left: 1rem;
    display: inline-flex;
    gap: 1.3rem;
}
.Description img{
    border-radius: 50%;
    border: solid black 0.05px;
}
.Description-Text{
    margin-bottom: 10px;
}
.Description-Text h3{
  font-size: 17px;
  letter-spacing: 0.5px;
}

.Footer-Part{
    margin-top: 5px;
    display: inline-flex;
    gap: 1rem;
    width: 90%;
    margin-left: 5%; margin-right: 5%;
}
.Footer-Part p{
    font-size: 13px;
    margin-top: 2px;
}

.Registration-Link{
    background-color: #fff;
    border: solid 0.05px;
    border-radius: 10px;
    padding: 5px 8px;
    letter-spacing: 0.1px;
}

.white-logos{
    background-color: black;
    object-fit: contain;
}
.large-logos{
    object-fit: contain;
}

@media(max-width: 1200px){
    .Card-Container{
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media(max-width: 890px){
    .Card-Container{
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media(max-width: 500px){
    .Card-Container{
        grid-template-columns: repeat(1 , 1fr);
    }
}